<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css} "/>
    <title>Document</title>
</head>
<body>
<!--        <form method="POST" action="/uploadFile" enctype="multipart/form-data">-->
<!--            <input type="file" name="file" /><br/><br/>-->
<!--            <input type="submit" value="Submit" />-->
<!--        </form>-->
        <h1>Ip Location Executed!</h1>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
</body>
</html>